.tab_bar button {
    color:#FFE8D8;
    background-color: #440069;
    border: 2px solid #FFE8D8;
    border-top:none;
    margin: 0;
    padding: 3px 10px;
    font-size: 14pt;
    border-radius: 0 0 0.6em 0.6em;
}

.tab_bar button.active, .tab_bar button.active:hover {
    background-color: #0076A9;
    border: 2px solid #0076A9;
    border-top:none;
}

.tab_bar button:hover {
    background-color: #025D84;
}


.tab_view > div {
    display:none;
    height:100%;
}

.tab_view > div.active {
    display:block;
}

#background_2 {
    display:none;
}
