.highscore-title {
	font-size: 1.4em;
  margin-bottom: 1em;
}

.ui.table.highscore-table {
    background-color: #002A3A;
    font-size: .6em;
    width: 100%;
    border-radius: 0.3em;
    border-collapse: collapse;
}

.highscore-table * td, .highscore-table * th {
    padding: 0.5em;
    border-top: 1px solid #025D84;
    border-bottom: 1px solid #025D84;
}

.highscore-table * tr:hover {
    background-color: #025D84;
}

td.right {
    text-align: right;
}

.highscore-table * th {
    background-color: #025D84;
    text-align: left;
}

/*
.highscore-table thead th {
  background-color: #333;
  padding: 5px;
}

.highscore-table td:nth-child(1),
.highscore-table th:nth-child(1) {
  border-right: 1px solid #666;
}

.highscore-table tbody td {
  text-align: right;
  min-width: 200px;
  padding-right: 5px;
}

.highscore-table tbody tr:nth-child(odd) td {
  background-color: #444;
}

.highscore-table tbody tr:nth-child(even) td {
  background-color: #555;
}*/
