{% extends 'core/base.html' %}
{% load static %}

{% block content %}

  <h1>Schlangenprogrammiernacht 2022</h1>
  <p>
    Welcome to the 'Schlangenprogrammiernacht', a game for <a href="https://entropia.de/GPN20">GPN20</a>.
  </p>

  <p>Everybody is invited to join! Simply create an account and start coding.</p>

  <p>Define your own snake in C++, eat as much as you can and try not to die.</p>

  <p>Start with your own server and get the code <a href="https://github.com/schlangenprogrammiernacht">here</a>.</p>

  <p>Come to our <a href="ircs://irc.hackint.eu:9999/#spn">#spn IRC channel on HackInt</a>!</p>

  <h2>Changelog</h2>

  <dl>
    <dt>2019-05-30</dt>
      <dd>Initial release for the GPN19.</dd>
  </dl>
 
{% endblock %}
