{% extends 'core/base.html' %}
{% load static %}

{% block content %}

  <h1>Schlangenprogrammiernacht 2020</h1>

  <h2>About the Game</h2>
  <p>
    Welcome to the 'Schlangenprogrammiernacht', a game initially developed for <a href="https://entropia.de/GPN19">GPN19</a>. This edition is inofficially also known as rS3 (remote snake experience ;-) ).
  </p>

  <p>Program your own snake’s behaviour in C++, eat as much as you can and try not to die. Remember: always keep a healthy distance to other snakes!</p>

  <p>Everybody is invited to join! Simply <a href="{% url 'signup' %}">create an account</a> and start coding.</p>

  <p>If you never played SPN before, you may want to watch the <a href="https://media.ccc.de/v/gpn18-153-einfhrung-schlangenprogrammiernacht-2018">Introduction Talk at GPN18</a> and the <a href="https://media.ccc.de/v/gpn19-70-schlangenprogrammiernacht-2-0">presentation of version 2 at GPN19</a> (both in German).

  <h2>Get the Code!</h2>

  <p>The SPN server is Free Software! Get the code <a href="https://github.com/schlangenprogrammiernacht/spn-meta">here</a>.</p>

  <h2>Contact us</h2>

  <p>If you have a question or just want to talk to us, join our <a href="ircs://irc.hackint.eu:9999/#spn">#spn IRC channel on HackInt</a>.</p>

  <h2>Changelog</h2>

  <dl>
    <dt>2020-12-[&lt;27]</dt>
      <dd>Theme hacking, setup, etc.</dd>
  </dl>
 
{% endblock %}
