{% extends 'core/base.html' %}
{% load static %}

{% block content %}

  <h1>Schlangenprogrammiernacht at rC3 2021 now/here</h1>

  <h2>About the Game</h2>
  <p>
    Welcome to the 'Schlangenprogrammiernacht', a programming game initially developed for <a href="https://entropia.de/GPN19">GPN19</a>. This is the „official“ server for the rC3 2021 now/here.
  </p>

  <p>Program your own snake’s behaviour in C++, eat as much as you can and try not to die. Remember: always keep a healthy distance to other snakes!</p>

  <p>Everybody is invited to join! Simply <a href="{% url 'signup' %}">create an account</a> and start coding.</p>

  <p>If you never played SPN before, you may want to watch the <a href="https://media.ccc.de/v/gpn18-153-einfhrung-schlangenprogrammiernacht-2018">Introduction Talk at GPN18</a> and the <a href="https://media.ccc.de/v/gpn19-70-schlangenprogrammiernacht-2-0">presentation of version 2 at GPN19</a> (both in German).

  <h2>Get the Code!</h2>

  <p>The SPN server is Free Software! Get the code <a href="https://github.com/schlangenprogrammiernacht/spn-meta">here</a>.</p>

  <h2>Contact us</h2>

  <p>If you have a question or just want to talk to us, join our <a href="xmpp:spn@conference.bytewerk.org?join">XMPP Group Chat <em>spn@conference.bytewerk.org</em></a> or the <a href="ircs://irc.hackint.eu:9999/#spn">#spn IRC channel on HackInt</a>.</p>

  <h2>What’s new?</h2>

  <p>Not much feature-wise unfortunately. But let’s try some interesting settings this year!</p>

  <ul>
    <li>Very few „static“ food items.
    <li>Food decays very slowly.
    <li>Boosting is very effective (3x speed), but also quite expensive (3 ‰ mass per frame).
  </ul>

  <p>Also, the CPU clock of the Raspberry Pi hosting this game is fixed to maximum this year, hopefully resulting in much more predictable timing.</p>

  <p>Head over to the <a href="https://stats.tkolb.de/grafana/d/Bv5ZRWMWz/">Grafana Dashboard</a> for gameserver statistics.</p>

  <p>Enjoy!</p>

  <h2>Changelog for this instance</h2>

  <dl>
    <dt>2021-12-[&lt;27]</dt>
      <dd>Setup, server config, etc.</dd>
  </dl>
 
{% endblock %}
