/* RC3 colortable:
 * B239FF 670295 440069 240038
 * 6800E7 4100hB 2A005E 14002F
 * 05B9EC 0076A9 025D84 002A3A
 * "black": 100E23
 * "white": FFE8D8
 */

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color:#100E23;
    color:#FFE8D8;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size:16pt;
    margin:0;
    padding:0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    /*background-image: url("/static/core/gpn19_bg.svg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

#background_2 {
    position:fixed;
    right:-100px;
    bottom:-100px;
    z-index:-1;
    overflow:hidden;
}

h1,h2 {
    color: #B239FF;
}

a {
    color: white;
}

ul.nav {
    background-color:#240038;
    text-align: center;
    padding: 4px 0;
    margin:0;
}

ul.nav li {
    display:inline;
    padding-bottom: 10px;
    padding-top: 4px;
}

ul.nav li a {
    padding: 4px 10px 10px 10px;
}

ul.nav li a, .footer a {
    color: #FFE8D8;
    text-decoration: none;
}

ul.nav li:hover {
    background-color: #670295;
}

ul.sub.nav {
    background-color: #440069;
    left: 50%;
    margin-top: 6px;
    position: relative;
    width: 75%;
    transform: translateX(-50%);
}

a:hover {
    text-decoration: underline;
    color: #05B9EC;
}

h1 {
    padding-top:0;
    margin-top:0;
    font-weight: bolder;
}

div.content {
    padding:10px;
}

div.content > div.panel {
    margin-left: 200px;
}

div.footer {
    color:white;
    text-align:center;
    position:fixed;
    bottom:0;
    width:100%;
    padding:3px;
    background-color:#240038;
}

#snake
{
    position:absolute;
    left:0px;
    bottom:0px;
}

#snake:hover
{
    opacity: 0;
}

.fullwindow {
    position:absolute;
    left:15px;
    right:15px;
    top:50px;
    bottom:50px;
}

table.snake-list {
    font-size: 0.8em !important;
}

#snake_edit_form #id_comment {
    width: 48em;
}

.growl {
    opacity: 1;
    filter: alpha(opacity=100);
}

.growl .growl-title {
    display: none; 
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before,
.ui.toggle.checkbox input:focus~.box:before, .ui.toggle.checkbox input:focus~label:before {
    background: rgba(153, 153, 153, .3) !important
}

.ui.toggle.checkbox .box:hover::before, .ui.toggle.checkbox label:hover::before {
    background: rgba(153, 153, 153, .5) !important
}

.ui.toggle.checkbox .box, .ui.toggle.checkbox label {
    color: rgba(255, 255, 255, 0.7) !important
}

.ui.toggle.checkbox input:checked~.box, .ui.toggle.checkbox input:checked~label,
.ui.toggle.checkbox input:focus:checked~.box, .ui.toggle.checkbox input:focus:checked~label {
    color: rgba(255, 255, 255, 1) !important
}

#snake_edit_form #game canvas {
    width: 450px;
    height: 320px;
}

#login_form, #signup_form, #change_password_form {
    margin-left: 200px;
}

#login_form div.segment, #signup_form div.segment, #change_password_form div.segment {
    background: none;
    width: 350px;
}

#snake_edit_form {
    clear: both;
}

#bot_stats {
    z-index:100;
    background-color:rgba(0,0,0,0.5);
    font-size:8pt;
    position:absolute;
    right:0; bottom:0;
}

#bot_stats tbody {
    cursor:pointer;
}

#bot_stats th
{
    font-weight: bold;
}

#bot_stats td, #bot_stats th
{
    text-align: right;
}

#followmsg {
    position: absolute;
    top:0; left:0; right:0;
    text-align: center;
    display:none;
    cursor:pointer;
}

#followmsg>span {
    background-color:rgba(60,60,60,0.7);
    border-radius: 0 0 0.5em 0.5em;
    padding: 0.1em 0.5em;
}
